* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*to add font family*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*font size */
$fontSizes: (
    "x-small": .5rem,
    "small": .75rem,
    "normal": 1rem,
    "large": 1.5rem,
    "x-large": 2.25rem,
);

/*colors */
$colors :(
    "primary": #3B71CA,
    "secondary": #9FA6B2,
    "success": #14A44D,
    "danger": #DC4C64,
    "warning": #E4A11B,
    "info": #54B4D3,
    "light": #FBFBFB,
    "dark": #332D2D,
    "listItemHoverColor": #EEEEEE,
);

/*custom button  */
%btn {
    margin-top: .8rem;
    font-size: .9rem;
    letter-spacing: .8px;
    text-transform: uppercase;
    font-weight: 600;
    color: map-get($colors, light);
    border: 2px solid map-get($colors, success);
    padding: 4px 8px;
    background-color: map-get($colors, success);
    border-radius: 4px;
    width: 100%;
    height: 2rem;
    cursor: pointer;
    transition: color .5s, background-color .7s, border .7s;
    
    &:hover {
        color: map-get($colors, success);
        background-color: map-get($colors, light);
    }
}

/*custom input */
%input {
    padding: 4px 8px;
    border-radius: 3px;
    border: 2px solid map-get($colors, secondary);
    outline: none;
    &:focus {
        border: 2px solid map-get($colors, primary);
    }
}